@media (max-width: 992px) {
    .activity-aside {
        width: 80%;
        margin: 0 10%;
        padding: 76px 0 10px 0;
        position: relative;
        /* overflow: auto; */
        float: none;
    }
    /* aside #calendar-picker{
        height: 0;
        visibility: hidden;
    }
    aside #month-picker{
        width: 100%;
        height: 100px;
        margin: 7px auto;
        visibility: visible;
        text-align: center;
    } */
    .activity-article {
        width: 80%;
        margin: 0 10%;
        float: none;
    }
}