.bg_map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    bottom: 0px;
    border-radius: 30px;
}

.custom-btn_map:active .front-btn_map {

    transform: translate(0px, 0px);
    text-decoration: none;
    color: #fff;
}

/* PC */
@media screen and (min-width: 451px) {
    .custom-btn_map {
        font-weight: 700;
        cursor: pointer;
        position: absolute;
        left: 41%;
    }
    
    .front-btn_map {
        width: 160px;
        text-align: center;
        letter-spacing: 1px;
        border: solid 3px #fff;
        padding: 7px 25px;
        border-radius: 30px;
        margin: 0;
        background-color: #000;
        transition-duration: .5s;
        transform: translate(-5px, -6px);
        color: #fff;
        text-decoration: none;
    }
    }

/* mobile */
@media screen and (max-width: 450px) {

    .custom-btn_map {
        font-weight: 700;
        cursor: pointer;
        position: absolute;
        left: 37.5%;
    }
    
    .front-btn_map {
        width: 100px;
        text-align: center;
        letter-spacing: 1px;
        border: solid 3px #fff;
        padding: 7px 25px;
        border-radius: 30px;
        margin: 0;
        background-color: #000;
        transition-duration: .5s;
        transform: translate(-5px, -6px);
        color: #fff;
        text-decoration: none;
    }
    
}