.StoreCardAllArea a{
    text-decoration: none;
}
.StoreCardAllArea a .card-text{
    color: #000;
}

/* 外容器 */
.store-container {
    display: flex;
    width: 100% !important;
    padding: 80px 0px;
}

.headerHight {
    min-height: 56px;
}

/* -----Left----- */
/* 白字 */
.store-container #leftTitle {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 1.5px #000;
}

/* 搜尋欄 input */
.store-container #search {
    position: relative;
    border: solid 3px rgba(0,0,0,0);
    width: auto;
}

.store-container #search span {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../../../public/store/icon/search.svg) no-repeat;
    background-size: 80% 80%;
    background-position: left;
    padding-right: 330px;
    margin-top: 19px;
}

/* 按鈕外框 */
.store-container #leftSearch,
.store-container .leftTags button {
    width: 140px;
    margin: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #000;
    border-radius: 20px;
    transition-duration: .5s;
}

/* Button字 */
.store-container .leftTags #tagName {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* 按鈕hover壓下 */
/* .store-container .leftTags #tagName */
.card:hover {
    /* box-shadow: none;
    transform: translate(4px, 4px);
    transition-duration: .5s; */
    box-shadow: none;
    transform: translate(4px, 4px);
    transition-duration: .5s;
}

/* 按鈕hover顏色 */
.store-container .btn_art:hover {
    background-color: #FD5555;
}

.store-container .btn_eat:hover {
    background-color: #5570FD;
}


.store-container .btn_coffee:hover {
    background-color: #FDBA55;
}

.store-container .btn_shop:hover {
    background-color: #01EFBD;
}


/* -----Left固定欄----- */
/* Left切版 */
.store-container .leftTagsArea {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    display: inline-block;
}

/* Tags切版區域 */
.store-container .leftTagsContainer {
    display: flex;
    flex-direction: column;
}

/* -----Right Card------ */
/* 綠色粗標 */
/* .store-container .title-block {
    display: inline-block;
    margin: 10px 5%;
} */

/* .store-container .title-block .custom-title {
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    color: #000;
    -webkit-text-stroke: 5px #000;
    letter-spacing: 2px;
    transform: translate(-2px, -2px);
} */

/* .store-container .title-block .active-title::before {
    font-size: 28px;
    position: absolute;
    -webkit-text-stroke: 1px #000;
    color: #ABFF1D;
    letter-spacing: 2px;
    z-index: 2;
} */

/* .store-container #title-1.active-title::before {
    content: '本月主打';
} */

/* .store-container #title-2::before {
    content: '所有店家';
} */
/* 
.store-container .title-block .title-bg {
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px;
    color: #000;
    -webkit-text-stroke: 5px #000;
    letter-spacing: 2px;
} */

/* Right切版 */
.store-container .rightStoreCardArea {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 300px);
}

/* -----Top HotStore Card----- */
/* 橫向切 */
.store-container .StoreCardAllArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}

.store-container .StoreCardHotArea {
    margin-left: 20px;
    justify-content: center;
}

/* Card切版_橫向 */
.store-container .StoreCard_01 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.store-container .StoreCard_02 {
    width: 100%;
    display: grid;
    grid-gap: 40px 40px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-flow: dense;
    padding-bottom: 3vh;
    padding: 0 40px 0 10vw;
    /* padding: 0 10vw; */

}


/* Card */
.store-container .card {
    height: 330px;
    width: 220px;
    display: block;
    padding-bottom: 10px;
    filter: drop-shadow(4px 4px 0px #000000);
    background: #B7B7B7;
    border-width: 3px 6px 5px 3px;
    border-style: solid;
    border-color: #000000;
    border-radius: 30px 30px;
}

.store-container .card-img-top {
    /* width: 100%;
    height: 180px; */
    overflow: hidden;
    object-fit: cover;
}

.store-container .card img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    object-fit: cover;
}

.store-container .card-title {
    /* width: 100%; */
    height: 100%;
    /* max-height: 50px; */
    font-weight: 900;
    font-size: 20px;
    margin: -15px 0 15px 0;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.store-container .card-text {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    margin-top: -8px;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.store-container .card-footer {
    float: right;
    margin: -10px -10px 0 0;
    bottom: 10px;
    height: 0;
    border-top: none;
    color: #FFFFFF;
    background: #B7B7B7;
    font-weight: 900;
}

/* hotstore card-footer */
.store-container .hotcard-card .card-footer {
    background: none;
    margin: -30px 10px 0 0;

}

/* Card壓下hover */
.store-container .card:hover {
    box-shadow: none;
    transform: translate(4px, 4px);
    transition-duration: .5s;
}

/* -----RWD----- */
@media (max-width: 820px) {

    /* 店家分類區域 */
    .store-container .leftTagsArea {
        width: 100vw;
        position: relative;
        padding: 0;
        left: 0;
        justify-content: center;
    }

    /* 搜尋欄 */
    .store-container #search {
        width: 100%;
    }

    /* Card全域 */
    .store-container .rightStoreCardArea {
        width: 100%;
        justify-content: center;

    }

    .store-container .StoreCardHotArea,
    .store-container .StoreCardAllArea {
        padding: 0;
        margin: 0;
    }

    .store-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }

    .store-container .StoreCard_02 {
        grid-gap: 40px 40px;}
}

@media (max-width: 522px) {
    .store-container {
        width: 100% !important;
        overflow: hidden;
    }

    .store-container .StoreCard_02 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

/* hotcard */
.hotcard {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

/* 橫向排列 */
.hotcard-container {
    padding: 0 0 20px 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.hotcard-container::-webkit-scrollbar {
    display: none;
}

.hotcard-card {
    flex: 0 0 auto;
    margin-right: 40px;
}


/* 按鈕 */
.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.4;
    width: 20px;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}