/* 一般樣式 */
.title-block{
  position: relative;
  display: inline-block;
  margin: 20px;
}

.title-block .title-shadow{
  position: absolute;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 4px;
  color: #000;
  -webkit-text-stroke: 5px #000;
  transform: translate(2px, 2px);
}
.title-block .custom-title{
  font-size: 28px;
  -webkit-text-stroke: 1px #000;
  color: #fff;
  letter-spacing: 4px;
  position: relative;
}
.title-block .title-bg{
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 4px;
  color: #000;
  -webkit-text-stroke: 5px #000;
  position: absolute;
}

/* 黑底樣式 */
.dark-title-block{
  position: relative;
  display: inline-block;
  margin: 20px;
}
.dark-title-block .title-shadow{
  position: absolute;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 4px;
  color: #fff;
  -webkit-text-stroke: 5px #fff;
  transform: translate(2px, 2px);
}
.dark-title-block .custom-title{
  font-size: 28px;
  -webkit-text-stroke: 1px #fff;
  color: #000;
  letter-spacing: 4px;
  position: relative;
}
.dark-title-block .title-bg{
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 4px;
  color: #fff;
  -webkit-text-stroke: 5px #fff;
  position: absolute;
}