.state{
  min-height: calc(100vh - 135px);
  background: linear-gradient(-15deg, #f4f4f4, #fff);
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}
.state .state-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  padding: 30px;
}
.state .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 400px;
}
.state .form-control{
  border: solid 2px #000;
  border-radius: 30px;
}
label{
  font-weight: 500;
}

.state .state-block{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.state .state-block .inner-block{
  width: 64%;
  display: flex;
  padding: 20px 0px;
  align-items: flex-start;
  position: relative;
}
.state-container .other{
  font-weight: 700;
}
.inner-block .step{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: .2;
  padding: 15px 0px;
  pointer-events: none;
}
.inner-block .step-info{
  max-width: 80%;
}
.inner-block .left-line{
  border-top: dashed 3px #000;
  position: absolute;
  left: calc(21% + 50px);
  top: 70px;
  width: calc(36% - 85px);
  opacity: .1;
}
.inner-block .right-line{
  border-top: dashed 3px #000;
  position: absolute;
  left: calc(57% + 35px);
  top: 70px;
  width: calc(29% - 70px);
  opacity: .1;
}
.inner-block .current-state{
  flex: 1.5;
  opacity: 1;
  padding: 0px;
  pointer-events: all;
}
.step img{
  height: 70px;
  margin-bottom: 20px;
}
.inner-block .current-state img{
  height: 100px;
}
.inner-block .current-state .step-info{
  font-size: 16px;
  margin-bottom: 15px;
}
.step .step-info{
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.custom-input img{
  height: 50px;
}
label{
  font-weight: 500;
}
#upload-file{
  display: none;
}

/* step2 */
.current-state2{
  justify-content: center !important;
}
.current-state2 .inner-block .left-line{
  left: calc(14.5% + 35px);
  width: calc(36% - 85px);
  opacity: 1;
}
.current-state2 .inner-block .right-line{
  left: calc(50% + 50px);
  top: 70px;
  width: calc(36% - 85px);
  opacity: .1;
}

/* step3 */
.current-state3{
  justify-content: flex-start !important;
}
.current-state3 .inner-block .left-line{
  left: calc(14.5% + 35px);
  width: calc(28% - 70px);
  opacity: .1;
}
.current-state3 .inner-block .right-line{
  left: calc(43% + 35px);
  top: 70px;
  width: calc(36% - 85px);
  opacity: 1;
}
.other{
  font-size: 16px;
}

.state .transfer-info{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.state .transfer-info .unit{
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  margin: 5px 0px;
}
.state .transfer-info .group{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  align-items: center;
}
.state .transfer-info .group .group-title{
  display: flex;
}
.state .transfer-info .group .group-title .separate{
  /* width: 3px;
  background-color: #000;
  margin-left: 10px; */
}
.state .transfer-info .res{
  margin: 15px 0px;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  padding: 5px 0px;
}
.state .transfer-info .input-group{
  display: flex;
  flex-direction: column;
}
.state .transfer-info .column-group input{
  width: 100%;
}
@media (max-width: 890px){
  .state .state-block .inner-block{
    width: 100%;
  }
  .inner-block .step{
    display: none;
  }
  .inner-block .current-state{
    display: flex;
  }
  .inner-block .left-line, .inner-block .right-line{
    display: none;
  }
  .state-block{
    justify-content: center !important;
  }
}